*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #252525;
    color: white;
}

#Main{
    border: 2vh solid red;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    cursor: pointer;
}